<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Bug Reporting App | xrow {% endblock %}</title>
    <link rel="stylesheet" href="{{ absolute_url(asset('bundles/bugreporting/css/app.min.css')) }}">
</head>
<body>
    <div class="container">
        <header class="row">
        {% block header %}
            <h1 class="page-head"></h1>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="98" height="100" viewBox="0 0 2119 2270"><g fill="#0055d5" stroke="none" transform="translate(0.000000,2270.000000) scale(0.100000,-0.100000)"><path d="M15690 18003 c-1702 -2357 -3116 -4314 -3141 -4349 l-46 -64 -3454 3312 c-1900 1821 -3606 3457 -3792 3635 -185 179 -337 322 -337 320 0 -3 1555 -1840 3456 -4083 1901 -2244 3458 -4084 3460 -4090 3 -6 -731 -1030 -1630 -2275 l-1635 -2264 -313 -44 c-2123 -294 -4092 -833 -5833 -1599 -288 -126 -1566 -722 -1792 -835 -140 -70 -182 -97 -153 -97 22 0 211 51 555 150 1805 521 3156 845 4685 1124 793 144 2140 348 2140 322 0 -3 -1104 -1535 -2453 -3404 -1349 -1868 -2457 -3404 -2462 -3412 -7 -12 -6 -13 6 -4 95 75 1375 985 2199 1565 698 492 2296 1606 2750 1918 l106 72 1019 1739 1020 1738 65 6 c113 11 670 35 1080 47 427 13 1434 7 1840 -10 1482 -64 2818 -232 4070 -512 1286 -288 2415 -666 3565 -1193 l100 -46 -82 78 c-45 42 -1733 1661 -3752 3597 -3441 3299 -3670 3521 -3657 3540 7 11 1243 2117 2746 4680 1502 2563 2741 4675 2752 4693 11 17 18 32 16 32 -2 0 -1396 -1929 -3098 -4287z m-1585 -7993 c813 -960 1500 -1771 1528 -1803 27 -32 48 -59 46 -61 -2 -2 -80 7 -174 20 -533 73 -1324 138 -2090 174 -669 31 -1799 31 -2523 -1 -150 -6 -275 -9 -278 -6 -7 7 1998 3428 2007 3425 3 -2 671 -788 1484 -1748z"/><path d="M15857 15892 c-791 -1478 -1460 -2728 -1486 -2778 l-49 -91 1525 -1589 c838 -874 1538 -1602 1555 -1619 37 -36 -34 70 -1235 1834 -786 1157 -933 1378 -926 1395 21 48 2058 5530 2056 5532 -1 1 -649 -1206 -1440 -2684z"/><path d="M9297 11057 l-1359 -1552 -1566 -605 c-2897 -1117 -4956 -1919 -4949 -1927 2 -2 181 62 398 143 834 309 1362 484 2163 718 1019 298 2157 577 3266 800 332 67 970 185 1117 207 45 7 86 15 91 18 8 5 2147 3646 2191 3729 6 12 10 22 9 22 -2 -1 -614 -699 -1361 -1553z"/></g></svg>
        {% endblock %}
        </header>

        <div class="row">
            <section class="col-md-offset-1 col-md-7" id="main-section">
                {% block main  %}
                {% endblock %}
            </section>

            <sidebar class="col-md-4" id="sidebar">
                    {% block sidebar %}
                    {# { sidebar } #}
                    {% endblock %}
            </sidebar>
        </div>

        <footer class="row" id="footer">
            <div class="text-center">
                <div class="col-md-12">
                {% block footer %}
                {# { footer } #}
                {% endblock %}
                </div>
            </div>
        </footer>
    </div>

</body>

</html>