{% extends 'BugReportingBundle::base.html.twig' %}

{% block main %}

    <h4>Generate ZIP:</h4>
    <p>This tool collects relevant data from your eZ installation and from your system.</p>
{#  <p>Here is a sample list of what will be created:</p>
    <dl class="dl-horizontal">
        <dt>README.md</dt>                      <dd></dd>
        <dt>QA.txt</dt>                     <dd>File with Questions&Answers</dd>
        <dt>phpinfo.html</dt>                  <dd>Complete PHP information</dd>
        <dt>SystemInformation.txt</dt>         <dd>PHP version, PHP Accelerator, etc information</dd>
        <dt>InstalledComposer.json</dt>        <dd>Installed Composer</dd>
        <dt>composer.json</dt>                 <dd>Current Composer</dd>
        <dt>FolderPermissionRoot.txt</dt>      <dd>Permissions for folders in installed eZ-directory</dd>
        <dt>FolderPermissionWeb.txt</dt>       <dd>Permissions for folders in /web directory</dd>
        <dt>FolderPermissionApp.txt</dt>       <dd>Permissions for folders in /app directory</dd>
        <dt>/config</dt>                       <dd>All relevante .yml files from /app/config  directory</dd>
        <dt>/logs</dt>                         <dd>All relevante .log files from /app/logs  directory</dd>
    </dl> #}
    <form id="generate-ticket" method="get" action="{{ path('_xrow_bug_reporting_home') }}/create">
        <div class="form-inline">
            <button type="submit" class="btn btn-primary btn-enlarge">create</button>
        </div>
    </form>

{% endblock %}